@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

:root {
  --color-glow-green: rgba(38, 188, 188, 0.8);
  --color-glow-green-faded: rgba(0, 197, 180, 0.3);
  --color-font: rgba(80, 0, 0, 0.8);
  --color-font-faded: rgba(80, 0, 0, 0.2);
  --color-active-red: rgba(255, 80, 80, 0.8);
  --color-white: rgba(255, 255, 255, 0.8);
}
* {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}
body {
  /*   display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "HEADER HEADER"
    "NAV LOGO"
    "MAINFOOTER MAINFOOTER";
  min-width: 330px;
  background: var(--color-white);
}
.wood-design {
  border-radius: 3px;
  background: url(../resources/wood_background.png);
  box-shadow: 0 0 8px 5px var(--color-font);
  margin: 0.5rem;
}

/* ----------------------------- */
/* A HEADER elemeinek beállítása */
/* ----------------------------- */
header {
  grid-area: HEADER;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .parallax {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: clamp(330px, 100%, 800px);
  aspect-ratio: 1.33;
}
.parallax > img {
  position: absolute;
  left: 0;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}
.parallax > img:nth-of-type(2) {
  z-index: 2;
}
.parallax > h2 {
  position: relative;
  z-index: 1;
  transform: translate(30%, 270%);
  font-size: clamp(1.3rem, 8vi, 3.5rem);
  font-weight: 800;
  color: var(--color-glow-green);
  text-shadow: 0 0 3px var(--color-glow-green), 0 0 8px var(--color-glow-green);
  mix-blend-mode: screen;
}
.scroller-wrapper {
  z-index: 3;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 11px 8px white;
}

/* ----------------------------- */
/* A NAV elemeinek beállítása    */
/* ----------------------------- */
nav {
  grid-area: NAV;
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-start;
  width: 70px;
  margin: 0.5rem;
}
nav .toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 50px;
  width: 50px;
  transition: all 0.8s linear;
  cursor: pointer;
  z-index: 10;
}
nav .toggle .sr-only {
  display: none;
}
nav .toggle.menu-active {
  box-shadow: 0 0 8px 2px var(--color-glow-green);
}
nav .toggle li {
  list-style: none;
  position: relative;
  width: 80%;
  height: 4px;
  background-color: var(--color-white);
  text-shadow: 0 8px 11px rgb(0, 0, 0);
  mix-blend-mode: color-dodge;
  transition: all 0.8s linear;
}
nav .toggle.menu-active li:nth-of-type(2) {
  transform: translateY(13.5px) rotate(45deg);
  background-color: var(--color-glow-green);
  text-shadow: 0 0 3px var(--color-glow-green), 0 0 8px var(--color-glow-green);
  mix-blend-mode: difference;
}
nav .toggle.menu-active li:nth-of-type(3) {
  opacity: 0;
}
nav .toggle.menu-active li:nth-of-type(4) {
  transform: translateY(-13.5px) rotate(-45deg);
  background-color: var(--color-glow-green);
  text-shadow: 0 0 3px var(--color-glow-green), 0 0 8px var(--color-glow-green);
  mix-blend-mode: difference;
}
nav .menu {
  position: absolute;
  top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  translate: -120%;
  overflow: clip;
  transition: all 0.8s linear;
}
nav .menu.menu-active {
  translate: 0;
}
nav .menu li {
  list-style: none;
}
nav .menu li a {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  color: var(--color-white);
  text-shadow: 0 8px 11px rgb(0, 0, 0);
  mix-blend-mode: color-dodge;
  padding: 0.5rem 1.1rem;
  transition: all 0.3s;
}
nav .menu li a:hover {
  color: var(--color-glow-green);
  text-shadow: 0 0 3px var(--color-glow-green), 0 0 8px var(--color-glow-green);
  mix-blend-mode: difference;
  transform: translateY(-8px);
}

/* ----------------------------- */
/* A MAIN-FOOTER beállítása      */
/* ----------------------------- */
.main-footer-wrapper {
  grid-area: MAINFOOTER;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------------------------- */
/* A MAIN elemeinek beállítása    */
/* ----------------------------- */
main {
  z-index: 3;
  padding: 5%;
}

/* ----------------------------- */
/* A FOOTER elemeinek beállítása    */
/* ----------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 1rem);
  min-width: 330px;
  z-index: 8;
  padding: 0.5rem;
  position: sticky;
  bottom: 0.5rem;
}
.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  width: fit-content;
}
.social_media_items {
  padding: 0 10px;
}
.social_media_items img {
  height: 1.5rem;
  object-fit: cover;
  transition: all 0.3s linear;
}
.social_media_items img:hover {
  background-color: var(--color-glow-green);
  box-shadow: 0 0 5px 5px var(--color-glow-green);
}
.icons8,
.copyright {
  position: relative;
  padding-inline: 0.5rem;
  white-space: nowrap;
}
.copyright p,
.icons8 p,
.icons8 a {
  padding: 2px;
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--color-white);
  text-shadow: 0 8px 11px rgb(0, 0, 0);
  mix-blend-mode: color-dodge;
}
.icons8 a {
  font-size: 1rem;
  font-weight: 800;
  transition: all 0.3s;
}

/* body > span {
  position: absolute;
  pointer-events: none;
  width: 30px;
  aspect-ratio: 1;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
body > span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./wood_shaving_1m.png");
  background-size: cover;
  animation: moveWoodShaving 0.6s linear forwards;
}
@keyframes moveWoodShaving {
  0% {
    transform: translateX(0) rotate(0);
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(200px) rotate(180deg);
    opacity: 0;
  }
} */

/* -------------------------------- */
/* A Reszponzivitás beállítása      */
/* -------------------------------- */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "HEADER HEADER"
      "NAV NAV"
      "LOG LOGO"
      "MAINFOOTER MAINFOOTER";
  }
  nav {
    width: calc(100% - 1rem);
    top: 10px;
  }
  nav .toggle {
    display: none;
  }
  nav .menu {
    flex-direction: row;
    position: static;
    translate: 0;
    margin: 0;
  }
}
